.conteiner{
	margin: 0 auto;
	width: 960px;
	border: solid 1px #000;
	min-height: 40px;
}
.conteiner h1{
	text-align: center;
}
.agenda ul{

	margin-top: 30px;
}
.agenda ul li{
	display: inline;
	padding-left: 30px;
}
.form-horizontal .control-label {
text-align: left;
padding-left: 58px
}